#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <10 11>;
        };

        double-quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <19 20>;
        };

        go-func {
            bindings = <&lt 6 LANGUAGE_1>;
            key-positions = <39 41>;
        };

        yr {
            bindings = <&kp Y>;
            key-positions = <4 3>;
        };

        controll {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <10 22>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 10>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E             &kp R      &kp T                                             &kp Y             &kp U  &kp I      &kp O    &kp P
&kp LC(A)         &kp S         &kp D             &kp F      &kp G        &none                 &kp G          &kp H             &kp J  &kp K      &kp L    &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V      &kp B        &lt 7 ESCAPE          &kp B          &kp N             &kp M  &kp COMMA  &kp DOT  &lt 5 SLASH
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHFT  &lt 2 SPACE  &lt 3 LANGUAGE_2      &kp BACKSPACE  &lt 1 LANGUAGE_1                             &lt 4 ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        FUNCTION-NUM {
            bindings = <
&none                 &kp F1                &kp F2                &kp F3  &kp F10                             &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&kp TAB               &kp F4                &kp F5                &kp F6  &kp F11  &trans      &none          &kp SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS
&none                 &kp F7                &kp F8                &kp F9  &kp F12  &trans      &trans         &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none
&kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(NUMBER_5))  &trans  &trans   &trans      &kp BACKSPACE  &trans                                                  &none
            >;
        };

        NUM1 {
            bindings = <
&kp EXCLAMATION   &kp AT_SIGN  &kp HASH  &kp DOLLAR      &kp PERCENT                             &kp CARET  &kp AMPERSAND         &kp TILDE              &kp MINUS       &kp PLUS
&kp TAB           &none        &none     &none           &none        &none       &kp SEMICOLON  &kp COLON  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE
&kp LEFT_SHIFT    &none        &none     &none           &none        &none       &none          &none      &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION    &kp BACKSLASH
&kp LEFT_COMMAND  &trans       &trans    &kp LEFT_SHIFT  &trans       &trans      &kp BACKSPACE  &trans                                                                  &none
            >;
        };

        NUM2 {
            bindings = <
&kp EXCLAMATION   &kp AT_SIGN  &kp HASH  &kp DOLLAR      &kp PERCENT                             &kp GRAVE  &kp SQT      &kp DOUBLE_QUOTES  &kp EQUAL         &kp PIPE
&kp TAB           &trans       &trans    &trans          &trans       &trans      &kp SEMICOLON  &kp COLON  &kp AT_SIGN  &kp ASTERISK       &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT_SHIFT    &trans       &trans    &trans          &trans       &trans      &trans         &trans     &trans       &trans             &kp SLASH         &kp UNDERSCORE
&kp LEFT_COMMAND  &trans       &trans    &kp LEFT_SHIFT  &trans       &trans      &kp BACKSPACE  &trans                                                       &none
            >;
        };

        MOUSE {
            bindings = <
&trans            &trans  &trans  &trans          &trans                              &trans  &trans    &trans    &trans    &trans
&kp LEFT_CONTROL  &trans  &trans  &trans          &trans          &trans      &trans  &trans  &none     &none     &none     &trans
&kp LEFT_SHIFT    &trans  &trans  &trans          &trans          &trans      &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&kp LEFT_COMMAND  &trans  &trans  &msc MOVE_Y(0)  &msc MOVE_X(0)  &trans      &trans  &trans                                &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        ARROW {
            bindings = <
&kp ESCAPE        &trans  &trans  &trans  &trans                             &trans  &kp HOME        &trans          &kp PAGE_UP     &trans
&kp TAB           &trans  &trans  &trans  &trans  &trans      &trans         &trans  &kp END         &kp UP_ARROW    &kp PAGE_DOWN   &kp ENTER
&kp LEFT_SHIFT    &trans  &trans  &trans  &trans  &tog 0      &trans         &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp DOWN_ARROW  &trans
&kp LEFT_COMMAND  &trans  &trans  &trans  &trans  &trans      &kp BACKSPACE  &trans                                                  &none
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        BlueTooth {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        VIM-ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans          &trans        &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans          &trans        &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                         &trans
            >;
        };
    };
};
